<?xml version="1.0" ?>
<model>
    <name>Somport Tunnel</name>
    <version>1.0</version>
    <sdf version="1.0">model.sdf</sdf>
    <author>
        <name>Luis Riazuelo</name>
        <email>riazuelo@unizar.es</email>
    </author>
    <description>Simple model (square) of Somport Tunnel</description>
</model>
